<footer>
    <div id="footermenu">
        <ul>
            <li><a href="{{ "/" | relative_url }}">ホーム</a></li>
            <li><a href="{{ "/info" | relative_url }}">すたーまざーずとは</a></li>
        </ul>
        <ul>
            <li><a href="{{ "/activity" | relative_url }}">活動内容</a></li>
            <li><a href="{{ "/coaching" | relative_url }}">コーチング</a></li>
        </ul>
        <ul>
            <li><a href="{{ "/money_support" | relative_url }}">マネーサポート</a></li>
            <li><a href="{{ "/member" | relative_url }}">メンバー募集</a></li>
        </ul>
        <ul>
            <li>
                <a class="twitter-share-button"
                   data-text="すたーまざーず" data-url="http://star-mothers.com" data-related="star_mothers"
                   data-via="star_mothers"
                   href="https://twitter.com/share" data-dnt="true">Tweet</a>
            </li>
            <li style="float: left;">
                <div class="fb-like" data-href="https://www.facebook.com/%E3%81%99%E3%81%9F%E3%83%BC%E3%81%BE%E3%81%96%E3%83%BC%E3%81%9A-1572001599760897/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </li>
        </ul>
    </div>

    <!--/footermenu-->

    <div id="copyright">
        <small>Copyright&copy; <a href="index.html">{{ site.title | escape }}</a> All Rights Reserved.</small>
    </div>
</footer>