<div id="sub">

    <p class="box2 about"><a href="info.html">すたーまざーずとは？</a></p>

    <nav class="box1">
        <h2>SNS</h2>
        <ul class="submenu mb10" style="height: 60px; border-top: none">
            <li class="pull-left bg_transparent" style="text-align: center">
                <a href="https://twitter.com/star_mothers">
                    <img src="/images/twitter-64712f00f1e4730c27a67b96c166f4764f7c635fb885dbdca5de3af6ee465aff.png" alt="">
                </a>
            </li>
            <li class="pull-left bg_transparent" style="text-align: center">
                <a href="https://www.facebook.com/%E3%81%99%E3%81%9F%E3%83%BC%E3%81%BE%E3%81%96%E3%83%BC%E3%81%9A-1572001599760897/">
                    <img src="/images/facebook-00bdaaff162eac5fe110e87adb62040054a7d077fd1d5dfb77fd492b7f3494b9.png" alt="">
                </a>
            </li>
            <li class="pull-left bg_transparent" style="text-align: center">
                <a href="https://www.instagram.com/star_mothers/">
                    <img src="/images/instagram-f22ed4bd9543cd0d85fa57191208508338b7dfa751b0953923b68e43e5ea2717.png" alt="">
                </a>
            </li>
        </ul>
    </nav>


    <p class="box2 recruit"><a href="{{ "/representative" | relative_url }}">代表挨拶</a></p>
</div>
<!--/sub-->

<p id="pagetop"><a href="#">↑ </a></p>