---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <aside id="mainimg">
        <img src="/images/star-mothers1-a47c64f8b6e64d0e6c1afb11f137e6a4a2f72b7ea81f0101c530f86fe6e3dcf2.png" id="slide1" alt="">
        <img src="/images/star-mothers2-af648a4b9baffe4713655acdf85165ae33c01d3153802f71a31060a3fa4266ed.png" id="slide2" alt="">
    </aside>

    {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}

</div>